<!--
<ion-view  view-title="About us">
  <div  ng-cloak>
    <md-content class="md-padding has-header" layout-xs="column" layout="row">
      <div flex-xs flex-gt-xs="50" layout="column">
        <md-card>
          <md-card-header>
            <md-card-avatar>
              <img class="title-image" src="../img/dshan.jpg" />
            </md-card-avatar>
            <md-card-header-text>
              <span class="md-title">Dshan Technologies</span>
              <span class="md-subhead">"We make the choice we change the furture"</span>

            </md-card-header-text>
          </md-card-header>
          <img ng-src="../img/aboutus1.png" class="md-card-image" alt="Washed Out">
          <md-card-title>
            <md-card-title-text>

            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <p>
              Dshan Technologies is one stop digital solutions provider based out of Bangalore India. We deliver quality services and believe in customer satisfaction. Our services include Web Designing, Web Development, Optimization,Digital marketing.
              <br/>
              <br/>
              "Time to change the course of your career. Opt for these Job Training programs
              & climb up the corporate ladder. Find them here at Dshan Technologies"
            </p>
          </md-card-content>
        </md-card>
      </div>
    </md-content>
  </div>

</ion-view>
-->
<ion-view>
  <ion-content>

    <div class="list card">

      <div class="item item-avatar">
        <img src="img/athletes.png">
        <h2>WE PERFORMING</h2>
        <p>Nine Inch Nails</p>
      </div>

      <div class="item item-image">
        <img src="img/athletes.png">
      </div>

      <a class="item item-icon-left assertive" href="#">
        <i class="icon ion-music-note"></i>
        Start listening
      </a>

    </div>

  </ion-content>


</ion-view>
