<ion-view style="background-image:url(img/c4.jpg);background-repeat:no-repeat;background-size:cover ;">
  <ion-content>
    <div class="bar bar-header bar-calm">
      <a ui-sref="information" class="button icon-left ion-arrow-left-c button-clear button-dark"></a>
      <h1 class="title"> ACHIEVEMENTS</h1>
    </div>
    <br/><br/><br/>


    <div class="list card">
      <div class="item item-body">
        <img class="full-image" src="img/ach1.jpg">
        <p>
          Drain work under progress in 9th cross near oil mill k.p agrahara at ward no 121
        </p>
      </div>
    </div>
  </ion-content>

</ion-view>
