
<br/><br/>
<ion-view>
  <ion-content>
    <!--<div class="card">
      <div class="item item-divider">
        A line chart
      </div>
      <div class="item item-text-wrap">
        <canvas id="line" class="chart chart-line" data="data" labels="labels" legend="true" series="series" options="{showTooltips: false}"></canvas>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        A bar chart
      </div>
      <div class="item item-text-wrap">
        <canvas id="bar" class="chart chart-bar" data="data" labels="labels" legend="true" series="series" options="{showTooltips: false}"></canvas>
      </div>
    </div>-->
    <!--<canvas id="line" class="chart chart-line" chart-data="data"
            chart-labels="labels" chart-series="series" chart-options="options"
            chart-dataset-override="datasetOverride" chart-click="onClick">
    </canvas>
-->
<br/><br/>
    <canvas id="base" class="chart-base" chart-type="type"chart-data="data" chart-labels="labels" ></canvas>
    <button ion-button color="dark" ng-click="toggle()">toggle</button>
  </ion-content>
</ion-view>
