<script type="text/ng-template" id="inputDatePicker.html">
  <ion-item class="item-icon-right">
    <i ng-click="to.onclick(model,options)"
       class="icon ion-ios-calendar-outline"></i>
    {{ model[options.key] | date : to.dateFormat }}
  </ion-item>
</script>


<ion-view>
  <ion-content>
    <button class="button button-block" ng-click="openDatePicker()">Show Toast</button>
  </ion-content>
</ion-view>
