<ion-view style="background-image:url(img/c4.jpg);background-repeat:no-repeat;background-size:cover ;" ng-controller="electionCtrl">

  <ion-content>
  <br/><br/>

    <div class="bar bar-header bar-calm">
      <a  ui-sref="login"  class="button button-outline icon ion-navicon button-dark" style="color:black;"></a>
      <h1 class="title">ELECTION APP</h1>
      <a  ui-sref="login"  class="button button-outline icon-center ion-power button-dark" style="color:black;"></a>

    </div>
    <br/>

    <!--<div class="">
      <a  ui-sref="login"  class="button button-outline icon-center ion-navicon button-dark" style="color:black;"></a>
    </div>-->
<div class="image">
    <img class="image" src="img/prof.jpg">
</div>
    <br/><br/>


    <h2 class="heading">NAGARAJ</h2>
    <div class="list card ">

      <a ui-sref="action" class="item item-icon-left" style="background-color:deepskyblue;" >
        <i class="icon ion-man centt"></i>
        ACTION
      </a>
    </div>

    <div class="list card ">
      <a ui-sref="information" class="item item-icon-left" style="background-color:deepskyblue;">
        <i class="icon ion-folder"></i>
        ACHIEVEMENTS
      </a>
    </div>

    <div class="list card ">
      <a ui-sref="products2" class="item item-icon-left" style="background-color:deepskyblue;">
        <i class="icon ion-laptop"></i>
        EVENTS
      </a>
    </div>

    <div class="list card ">
      <a ui-sref="candidate" class="item item-icon-left" style="background-color:deepskyblue; ">
        <i class="icon ion-person"></i>
        ABOUT CANDIDATE
      </a>

    </div>
    <div class="list card ">
      <a ui-sref="reachus" class="item item-icon-left" style="background-color:deepskyblue;" >
        <i class="icon ion-map"></i>
        REACH US
      </a>
    </div>
    <br/><br/>


    <div class="bar bar-footer">

    <div class="tabs tabs-icon-top " style="background-color:black;">
      <a ui-sref="election" class="tab-item" style="color:white;">
        <i class="icon ion-social-facebook" ></i>
        facebook
      </a>
      <a class="tab-item"style="color:white;">
        <i class="icon ion-email" ></i>
        gmail
      </a>
      <a ui-sref="login" class="tab-item"style="color:white;">
        <i class="icon ion-social-twitter"></i>
        twitter
      </a>
    </div>
    </div>



  </ion-content>

</ion-view>

<style>

  .no{
  display:none;
  }
</style>
