<ion-view  >
  <ion-content>

    <div class="bar bar-header bar-calm">
      <a ui-sref="products2" class="button icon-left ion-chevron-left button-clear button-dark">Back</a>
      <h1 class="title">OUR HISTORY</h1>
    </div>
    <br/><br/><br/>
    <div class="">
      <a  ui-sref="election"  class="button button-outline icon-center ion-navicon button-dark"></a>
    </div>

    <h2 class="heading">HISTORY</h2><br/>



    <div class="list card">



      <div class="item item-image">
        <img src="img/w.png">
      </div>



    </div>


  </ion-content>

</ion-view>
