
<ion-view>
  <ion-content>

    <div class="bar bar-header bar-calm">
      <h1 class="title">ELECTION APP</h1>
    </div>
<br/><br/><br/>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Username" ng-model="data.username">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="data.password">
      </label>
    </div>
    <button class="button button-block button-calm" ng-click="loginmenu()">Login</button>


    <div class="tabs tabs-icon-top" style="background-color:black;">
      <a ui-sref="election" class="tab-item" style="color:white;">
        <i class="icon ion-social-facebook" ></i>
        facebook
      </a>
      <a class="tab-item"style="color:white;">
        <i class="icon ion-email" ></i>
        gmail
      </a>
      <a ui-sref="login" class="tab-item"style="color:white;">
        <i class="icon ion-social-twitter"></i>
        twitter
      </a>
    </div>
  </ion-content>
</ion-view>

<style>

  .no{
  display:none;
  }
</style>
