<ion-view>
  <ion-content>
    <div id="map" data-tap-disabled="true"></div>
  </ion-content>
</ion-view>


<style>
  .scroll {
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}
</style>
