<style>
  .transparent {
  background: transparent !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}
.slider {
  width: 100%;
  height: 100%;
}

p.info {
  position: absolute;
  bottom: 55px;
  margin: 0 auto;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 28px;
  color: #ffffff;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}
</style>


<ion-view>
  <ion-content>


    <div class="bar bar-header bar-positive">
      <h1 class="title">Header</h1>
    </div>

    <ion-content class="has-header">
      <div class="card">
        <div class="item item-divider">
          Fullscreen images + Slide Box
        </div>
        <div class="item item-text-wrap">
          <div class="button-bar">
            <a class="button" ng-click="openModal()">Show images from start</a>
          </div>
        </div>
        <div class="item item-text-wrap">
          <div class="button-bar">
            <a class="button" ng-click="goToSlide(1)">Show second imagen</a>
            <a class="button" ng-click="goToSlide(2)">Show third imagen</a>
          </div>
        </div>
      </div>

      <script id="image-modal.html" type="text/ng-template">
        <div class="modal image-modal transparent"
             ng-click="closeModal()">
          <ion-slide-box on-slide-changed="slideChanged(index)"
                         show-pager="false">
            <ion-slide ng-repeat="oImage in aImages">
              <img ng-src="{{oImage.src}}" class="fullscreen-image" />
              <p class="info">{{oImage.msg}}</p>
            </ion-slide>
          </ion-slide-box>
        </div>
      </script>

    </ion-content>

    <div class="bar bar-footer bar-balanced">
      <div class="title">Footer</div>
    </div>


  </ion-content>
</ion-view>
