<ion-view>
  <ion-content>
  <ion-slide-box>
    <ion-slide>
      <div class="box blue">
        <button ng-click="nextSlide()">Next slide!</button>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="box red">
        Slide 2!
      </div>
    </ion-slide>
  </ion-slide-box>
  </ion-content>
</ion-view>
